{% extends 'base.html' %}


{% block page_header %}

  <div class='jumbotron mt-4' style="background-color:#dcf2f5;">
    <h1 class="display-4">Cooking Manager</h1>
    <p class="lead">Track your pantry and fridge inventory and store your favorite recipes.</p>
    <hr class="my-4">
      {% if user.is_authenticated %}
        <p>The first steps for reducing your food waste is use up fresh ingredient before it goes bad.</p>
        <a class="btn btn-sm btn-secondary" href="{% url 'manage_ingredients:use_up_today' %}">Use up today &raquo;</a>
        <hr class="my-4">
        <p>Shopping, Organizing And Cleaning</p>
        <p>Keep track of the contents of your pantry and fridge.</p>
        <a class="btn btn-sm btn-secondary" href="{% url 'manage_ingredients:ingredients_list' %}">Keep track &raquo;</a>
        <hr class="my-4">
        <p>What would you like to cook today?</p>
        <a class="btn btn-sm btn-secondary" href="{% url 'manage_ingredients:recipes' %}">Recipes &raquo;</a>
      {% else %}
        <p>Register Your Account. Already Registered? Please log in.</p>
        <a class="btn btn-lg btn-info" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
        <a class="btn btn-lg btn-secondary" href="{% url 'users:login' %}" role="button">Log in &raquo;</a>
        <br>
      {% endif %}
  </div>
{% endblock page_header %}
