{% extends 'base.html' %}

{% block page_header %}
  <h1 class="text-center my-3">Recipes</h1>
{% endblock page_header %}

{% block content %}

  <a class="btn btn-info mt-2 mb-4" href="{% url 'manage_ingredients:add_recipe' %}" role="button">Add recipe &raquo;</a>
  <br>
    <form method="get" class="form-inline">
      <div class="form-row">
        {{ filter.form.as_p }}
      </div>
      <button class="btn btn-info ml-4" type="submit">Search</button>
    </form>
  <br>
  {% if recipes %}
    {% include "./recipes_cards.html" with buttons='true' %}
  {% else %}
    <h2>Store all your favorite recipes in one place.</h2>
  {% endif %}

{% endblock content %}
