{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='icon' href="{% static 'images/cooking_icon.png' %}">
    <title>Cooking Manager</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="{% static 'images/cooking_icon.png' %}" width="25" height="30">
      <a class="navbar-brand ml-3" href="{% url 'manage_ingredients:main' %}">CookingManager</a>
      {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'manage_ingredients:use_up_today' %}">Use up today</a>
        <a class="nav-link" href="{% url 'manage_ingredients:ingredients_list' %}">Keep track</a>
        <a class="nav-link" href="{% url 'manage_ingredients:recipes' %}">Recipes</a>
      {% endif %}

    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text">Hello, {{ user.username }}</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
          </li>
        {% endif %}
      </ul>
    </div>
    </nav>

    <main role="main" class="container">
      <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </main>
  </body>
</html>